<section id= "navbar" href="navbar">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="home">RestTECWebAdmin</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="platos">Platos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Top 10
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="top">Platos más vendidos</a></li>
              <li><a class="dropdown-item" href="top">Platos más ganancias</a></li>
              <li><a class="dropdown-item" href="top">Platos mejor feedback</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="top">Clientes con más órdenes</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="d-flex">
          <a class="btn btn-outline-success" href="login" role="button" >Log Out</a>
        </form>
      </div>
    </div>
  </nav>
</section>