<app-navbar></app-navbar>
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModNP">
  Nuevo Plato
</button>
<!-- Modal Nuevo Plato -->
<div class="modal fade" id="ModNP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="ModalLabel">Nuevo Plato</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formPlato="ngForm" (ngSubmit)="onSubmit(formPlato)">
          <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Detalles</h1>
          <div class="alert alert-danger" role="alert" *ngIf="isError">
            Something is wrong!
          </div>
          <div class="form-group">
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" ngModel required>
          </div>
          <div class="form-group">
            <input type="text" id="calorias" name="calorias" class="form-control" placeholder="Calorías" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="precio" name="precio" class="form-control" placeholder="Precio" ngModel required>
          </div>
          <div class="form-group">
            <input type="text" id="menu" name="menu" class="form-control" placeholder="Menu" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="ingredientes" name="ingredientes" class="form-control" placeholder="Ingredientes" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="tiempoNecesario" name="tiempoNecesario" class="form-control" placeholder="Tiempo Necesario" ngModel
              required>
          </div>
          <div class="form-group">
          </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div></form>
    </div>
    </div>
  </div>
</div>
<!-- Modal Editar Plato-->
<div class="modal fade" id="ModEP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="ModalLabel">Editar Plato</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formPlato="ngForm" (ngSubmit)="onSubmit(formPlato)">
          <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Detalles</h1>
          <div class="alert alert-danger" role="alert" *ngIf="isError">
            Something is wrong!
          </div>
          <div class="form-group">
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" ngModel required>
          </div>
          <div class="form-group">
            <input type="text" id="calorias" name="calorias" class="form-control" placeholder="Calorías" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="precio" name="precio" class="form-control" placeholder="Precio" ngModel required>
          </div>
          <div class="form-group">
            <input type="text" id="menu" name="menu" class="form-control" placeholder="Menu" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="ingredientes" name="ingredientes" class="form-control" placeholder="Ingredientes" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="tiempoNecesario" name="tiempoNecesario" class="form-control" placeholder="Tiempo Necesario" ngModel
              required>
          </div>
          <div class="form-group">
          </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div></form>
    </div>
    </div>
  </div>
</div>
<!-- List -->
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Plato #1
        </button>
        </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content</div>
        <div>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#ModEP">
            Editar
          </button>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Plato #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content</div>
        <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Plato #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content</div>
        <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Plato #4
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content</div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Plato #5
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content</div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Plato #6
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content</div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            Plato #7
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content</div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
            Plato #8
          </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content</div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
            Plato #9
          </button>
        </h2>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content</div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
            Plato #10
          </button>
        </h2>
        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content</div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
  </div>
