<app-navbar></app-navbar>
<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModNP">
  Nuevo Plato
</button>
<!-- Modal Nuevo Plato -->
<div class="modal fade" id="ModNP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="ModalLabel">Nuevo Plato</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formPlato="ngForm" (ngSubmit)="onSubmit(formPlato)">
          <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Detalles</h1>
          <div class="alert alert-danger" role="alert" *ngIf="isError">
            Something is wrong!
          </div>
          <div class="form-group">
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" ngModel required>
          </div>
          <div class="form-group">
            <input type="text" id="calorias" name="calorias" class="form-control" placeholder="Calorías" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="precio" name="precio" class="form-control" placeholder="Precio" ngModel required>
          </div>
          <div class="form-group">
            <input type="text" id="menu" name="menu" class="form-control" placeholder="Menu" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="ingredientes" name="ingredientes" class="form-control" placeholder="Ingredientes" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="tiempoNecesario" name="tiempoNecesario" class="form-control" placeholder="Tiempo Necesario" ngModel
              required>
          </div>
          <div class="form-group">
          </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div></form>
    </div>
    </div>
  </div>
</div>
<!-- Modal Editar Plato-->
<div class="modal fade" id="ModEP" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="ModalLabel">Editar Plato</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #formPlato="ngForm" (ngSubmit)="onSubmit(formPlato)">
          <h1 class="h3 mb-3 font-weight-normal" *ngIf="!isError">Detalles</h1>
          <div class="alert alert-danger" role="alert" *ngIf="isError">
            Something is wrong!
          </div>
          <div class="form-group">
            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre" ngModel required>
          </div>
          <div class="form-group">
            <input type="text" id="calorias" name="calorias" class="form-control" placeholder="Calorías" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="precio" name="precio" class="form-control" placeholder="Precio" ngModel required>
          </div>
          <div class="form-group">
            <input type="text" id="menu" name="menu" class="form-control" placeholder="Menu" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="ingredientes" name="ingredientes" class="form-control" placeholder="Ingredientes" ngModel
              required>
          </div>
          <div class="form-group">
            <input type="text" id="tiempoNecesario" name="tiempoNecesario" class="form-control" placeholder="Tiempo Necesario" ngModel
              required>
          </div>
          <div class="form-group">
          </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div></form>
    </div>
    </div>
  </div>
</div>

<!-- List -->
<div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor="let plato1 of platos">
      <h1 class="accordion-header" id="heading">
        <button class="accordion-button collapsed" >
          <b>{{plato1.Nombre}}</b>
        </button>
        </h1>
      <div id="collapse" class="accordion-collapse active" aria-labelledby="heading" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Descripción</div>
                {{plato1.Descripcion}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Tipo</div>
                {{plato1.Tipo}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Calorías</div>
                {{plato1.Calorias}}
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Precio</div>
                ₡{{plato1.Precio}}
              </div>
            </li>
          </ol>
        </div>
        <div>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#ModEP">
            Editar
          </button>
      </div>
        <a class="btn btn-danger" role="button" >Eliminar</a>
      </div>
    </div>
  </div>

  