<app-navbar></app-navbar>
<a class="btn btn-success" href="login" role="button" >Refresh</a>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading">
        <button class="accordion-button collapsed">
          Mi Pedido #1<span class="badge bg-danger rounded-pill">#</span>
        </button>
        </h2>
      <div id="flush-collapseOne" class="accordion-collapse active" aria-labelledby="heading" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <li>Detalles del pedido</li>
        </div>
        <a class="btn btn-outline-success" href="#" role="button" >Completado</a>
      </div>
    </div>
   