<app-navbar></app-navbar>
<a class="btn btn-success" (click)="refresh()" role="button" >Refresh</a>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item" *ngFor="let pedido of pedidos">
      <h2 class="accordion-header" id="heading">
        <button class="accordion-button collapsed">
          <b> #{{pedido.Codigo}}, Para: {{pedido.Cliente}}, {{pedido.Pedido[0].Nombre}}</b>
        </button>
        </h2>
      <div id="collapse" class="accordion-collapse active" aria-labelledby="heading" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <li>{{pedido.Pedido[0].Nombre}}</li>
            <li>{{pedido.Pedido[0].Descripcion}}</li>
            <li>{{pedido.Pedido[0].Tipo}}</li>
            <li><b>Estado: {{pedido.Estado}}</b></li>
        </div>
        <a class="btn btn-outline-success" role="button" >Tomar Pedido</a>
      </div>
    </div>
