<app-navbar></app-navbar>
<a class="btn btn-success" href="login" role="button" >Nuevo Menu</a>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Menu #1
        </button>
        </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <li>Nombre del plato: #</li>
            <li>Precio: #</li>
            <li>Cantidad de calorías: #</li>
            <li>Tipo: #</li>
        </div>
        <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
      
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Menu #2
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><li>Nombre del plato: #</li>
            <li>Precio: #</li>
            <li>Cantidad de calorías: #</li>
            <li>Tipo: #</li></div>
        <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Menu #3
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body"><li>Nombre del plato: #</li>
            <li>Precio: #</li>
            <li>Cantidad de calorías: #</li>
            <li>Tipo: #</li></div>
        <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Menu #4
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><li>Nombre del plato: #</li>
            <li>Precio: #</li>
            <li>Cantidad de calorías: #</li>
            <li>Tipo: #</li></div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Menu #5
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><li>Nombre del plato: #</li>
            <li>Precio: #</li>
            <li>Cantidad de calorías: #</li>
            <li>Tipo: #</li></div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Menu #6
          </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><li>Nombre del plato: #</li>
            <li>Precio: #</li>
            <li>Cantidad de calorías: #</li>
            <li>Tipo: #</li></div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            Menu #7
          </button>
        </h2>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><li>Nombre del plato: #</li>
            <li>Precio: #</li>
            <li>Cantidad de calorías: #</li>
            <li>Tipo: #</li></div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
            Menu #8
          </button>
        </h2>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><li>Nombre del plato: #</li>
            <li>Precio: #</li>
            <li>Cantidad de calorías: #</li>
            <li>Tipo: #</li></div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
            Menu #9
          </button>
        </h2>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><li>Nombre del plato: #</li>
            <li>Precio: #</li>
            <li>Cantidad de calorías: #</li>
            <li>Tipo: #</li></div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
            Menu #10
          </button>
        </h2>
        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body"><li>Nombre del plato: #</li>
            <li>Precio: #</li>
            <li>Cantidad de calorías: #</li>
            <li>Tipo: #</li></div>
          <div>
        <a class="btn btn-warning" href="#" role="button" >Editar</a>
      </div>
        <a class="btn btn-danger" href="#" role="button" >Eliminar</a>
        </div>
      </div>
  </div>
